/*index*/
.first_sm {
    background-image: url('../images/software_testing_compny_in_bangalore.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 570px;
    background-position: bottom;
    background-size: cover;
    box-shadow: inset 0 0 0 500px rgba(30, 29, 30, 0.69);
    /*box-shadow:inset 0 0 0 500px rgba(30, 59, 87, 0.85);*/
    padding: 0%;
    font-family: 'Anaheim';

}

/*pages left animated heading*/
.first_sm ul {
    /*font-size: 40px;*/
    /*text-align:center;*/
    /* for chrome and safari*/
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: slidein;

    /*for firefox*/
    -moz-animation-duration: 1.5s;
    -moz-animation-name: slidein;

    /* for opera*/
    -o-animation-duration: 1.5s;
    -o-animation-name: slidein;

    /* Standard syntax*/
    animation-duration: 1.5s;
    animation-name: slidein;
}

@-webkit-keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-moz-keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@-o-keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/*pages left animated heading*/
.first_sm ul li {
    list-style-type: none;
    color: white;
    font-size: 41px;
}

.first_test {
    padding: 0%;
    padding-left: 12%;
}

.first_test img {
    height: 430px;
    width: 100%;
}

.first_test button {
    color: white;
    margin-top: 39%;
    position: absolute;
    right: 83%;
    font-family: 'Anaheim';
    background-color: #2c3848;
    border-color: #2c3848;
    font-size: 20px;
    padding: 2% 10%;
    border-radius: 0%;
}

.second {
    padding: 1% 4%;
}

/*.second>.defect:hover
{


    height:350px;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0);

}
.second>.quality:hover
{


    height:350px;
    box-shadow:inset 0 0 0 500px rgba(170, 220, 169, 0.38);

}
.second>.bulb:hover
{


    height:350px;
    box-shadow:inset 0 0 0 500px rgba(136, 119, 179, 0.31);

}*/
.second>.defect {

    background-image: url('../images/defect.jpg');
    /*background-attachment:fixed;*/
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 350px;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.87);

}

.second>.bulb {

    background-image: url('../images/bulb.jpg');
    /*background-attachment:fixed;*/
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 350px;
    box-shadow:inset 0 0 0 500px rgba(0, 90, 255, 0.85);

}

.second>.quality {

    background-image: url('../images/quality.jpg');
    /*background-attachment:fixed;*/
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 350px;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.87);

}

/*.second img
{
    width:100%;
    height:350px;


}*/
.second h4 {
    font-size: -webkit-xxx-large;
    color: #ffffff;
    padding-top: 17%;
    font-family: Amiko;
}

.testing_cont {
    padding:0% 2%;
    /*padding: 4% 1%;*/
    text-align: center;
    font-family: 'Anaheim';
}

.testing_cont h1 {
    font-size: -webkit-xxx-large;
    font-weight: 900;
    /* color: #321774; */
    color: #2266aaad;
}

.testing_cont p {
    padding: 2% 5%;
    font-size: 20px;
    color: #1b0303;
    /*color: #321774;*/
}

/*index.php end*/
/*signup and login pages*/
#label-pages label {
    color: #0d3282 !important;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Anaheim';
}

::placeholder {
    font-family: 'Anaheim';

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Anaheim';
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: 'Anaheim';
}

#btns {
    background-color: #0d3282;
    border-color: #0d3282;
    font-family: 'Anaheim';
    outline: 0px;
    border-radius: 34px;
    width: 20%;
    padding: 1% 0%;
}

/* signup and login pages*/

.first_sm h1 {
    color: white;
    font-size: 45px;
    font-weight: bolder;
    padding-bottom: 15px;
    line-height: 1.4;
    padding: 0px 200px;
        margin-top: 16%;
        /*margin-top: 8%;*/
}

.first_sm {
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
}

.hbtns button {
    padding: 10px 15px 10px 15px;
    font-size: 24px;
    border-radius: 0px;
}

.learnmorebtn button {
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    background-color: #2c3848 !important;
}

#web img,
#android img,
#ios img {
    width: 30%;
}#web,
#android{
    border-right: 1px solid gray;
}
#web,
#android,#ios {

    width: 150px;
}

.threeimages {
    display: flex;
    padding: 2% 35%;
    font-family: 'Anaheim';
    justify-content: center;
}

.threeimages label {
    display: block;
}


.testingservices .col-sm-4 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    min-height: 287px;
    background: #d2d2d21c;
}

#integrations img {
    padding: 0px 50px;
}

#twocolns {
    font-family: 'Anaheim';
    margin-bottom: 1%;
}

#twocolns h3 {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

#twocolns .row:nth-child(1) .col-sm-12:nth-child(1) .col-sm-6:nth-child(1) {
    padding-left: 22px;
}

#formdemo .col-sm-12 {
    display: flex;
    justify-content: center;
}

#formdemo form input,
#formdemo form select {
    margin: 0px 0px 20px;
    min-height: 50px !important;
    line-height: 50px !important;
}

#formdemo form textarea {
	margin: 0px 0px 20px ;
	min-height:100px !important;
}

input::placeholder {
    font-size: 17px;
    font-family: 'Anaheim';
}

#threeservices {
    background: #bac6cc30;
    margin-top: 20px;
    font-family: 'Anaheim';
}

#formdemo {
    background: #2c3848;
    color: white;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
#integrations .well{
    margin-bottom: 0px !important;
}
#formdemo form h2{
    margin-bottom: 50px;
}
#formdemo form button{
    margin-bottom: 20px;
    background-color: #364757 !important;
    font-size: 20px;
}
#threeservices hr{
    border-top: 1px solid #a94442;
}
.testingservices p{
    font-size: 18px;
}
#twocolns .container .row{
    border-bottom: 1px dashed;
}
#twocolns .container .row .col-sm-6:nth-child(2){
    border-left: 1px solid black;
    padding-top: 50px;

}
#twocolns .container .row .col-sm-6:nth-child(1){
    padding-top: 50px;
}
#twocolns .container .row .col-sm-6:nth-child(2) p{
    height: 125px;
    font-size: 18px;
}

/*.btn-primary,.btn-success {
    color: #fff !important;
    background-color: #717b8b !important;
    border-color: #717b8b !important;
    margin: 0px 20px;
    margin-left: 0%;
        padding: 1% 13%;
}*/
.btn-primary,.btn-success {
 /*   color: #fff !important;
      background-color: #0062ff !important;
    border-color: #0062ff !important;*/
        color: #fff!important;
    background-color: #717b8b!important;
    border-color: #717b8b!important;
        margin: 0px 20px;
    margin-left: 0%;
    padding: 1% 13%;
}
.btn-success a{
    color: #fff !important;
  
}
.upaate
{
     color: #fff!important;
    background-color: #717b8b!important;
    border-color: #717b8b!important;
        margin: 0px 20px;
    margin-left: 0%;
       padding: 1% 13%;
}
.upaate a{
    color: #fff !important;
  
}

/*updateprofile start*/
.button_update_profile {
    color: #fff !important;
    background-color: #0062ff !important;
    border-color: #0062ff !important;
    margin: 0px 20px;
    margin-left: 0%;
}
.button_update_profile a{
    color: #fff !important;
}
.details .update_prof .button_update_profile
{
    float:right;
} 


/*updateprofile end*/
.btn-primary:hover,.btn-success:hover {
    color: #fff;
    background-color: #2c3848 !important;
    border-color: #2c3848 !important;
}
/*why softtest start*/
.why_softi
{
        background-image: url('../images/why1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.98);
    /*box-shadow:inset 0 0 0 500px rgba(30, 59, 87, 0.85);*/
    padding: 0%;
    font-family: 'Anaheim';
    color:white;
    text-align:left;

}
.why_softy
{
        background-image: url('../images/hita.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.93);
    /*box-shadow:inset 0 0 0 500px rgba(30, 59, 87, 0.85);*/
    padding: 0%;
    font-family: 'Anaheim';
    color:white;
    text-align:left;

}
.raw_why .col-sm-12
{
    padding:0%;
}
/*why softtest end*/
.ul_expect
{
    margin-left: 13%;
    margin-right: 26%;

}
.index_b
{
    background-color: #005aff !important;
    color:white !important;
    border:0px;
}
/*client requirement start*/
.client_requirement {
    background-image: url(../images/tell.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* height: 570px; */
    background-position: top;
    background-size: cover;
    box-shadow: inset 0 0 0 500px rgba(123, 120, 123, 0.76);
    /* box-shadow: inset 0 0 0 500px rgba(30, 59, 87, 0.85); */
    padding: 0%;
    font-family: 'Anaheim';
}
.cli_row
{
    margin-right:0%;
    margin-left:0%;
}
.cli_row label
{
    color:white;
}
.client_requirement h2
{
    color:white;
    font-weight:bold;
}
/*client requiremnt end*/
/*nw-rw*/
#nw_rw
{
    margin-right:0px;
    margin-left:0px;
}
/*nw-rw*/